.modal-contend {
  margin-top: 70px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 1000; /* Defina um valor alto para garantir que a modal sobreponha outros elementos */
}

.modal-fundo {
  background-color: blur();
}

.modalCancelarTitulo {
  margin: 0;
  margin-left: -1px;
  margin-top: -10px;
  padding-top: 15px;
  font-weight: none;
  font-size: 20pt;
  width: 500px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modal-header {
  border-bottom: 1px solid black;
  padding-bottom: 10px; /* Adjust the padding as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}
