body {
  background-color: #fff;
  min-height: 700px;
}
.tipoingresso {
  width: 525px;
  height: 25px;
}
.contend {
  width: 85%;
  height: 900px;
  min-height: 500px;
  max-width: 1200px;
  margin: 50px auto;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}
.contend h1 {
  text-align: center;
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
}
.input-group {
  margin-bottom: 10px;
}
.input-group label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}
.infoingresso {
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 90%;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.botoes {
  float: right;
  width: 350px;
}
.botoes button {
  margin-right: 5px;
  border: 1px solid black;
  text-decoration: none;
}
.cancelar {
  height: 50px;
  margin-top: 10px;
  width: 120px;
  background-color: rgb(255, 255, 255);
  color: #ee0e0e;
  border-radius: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.cancelar:hover {
  height: 50px;
  margin-top: 10px;
  width: 120px;
  background-color: rgb(255, 255, 255);
  color: #e67c7c;
  border-radius: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.proximo {
  height: 50px;
  margin-top: 10px;
  width: 120px;
  background-color: #3888ff;
  color: #fff;
  border-radius: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.proximo:hover {
  height: 50px;
  margin-top: 10px;
  width: 120px;
  background-color: #7d9fd3;
  color: #ebe3e3;
  border-radius: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}


.addIngresso{
  float: right;
}

.addIngresso button{
  height: 50px;
  width: 250px;
  border-radius: 20px;
  background-color: #3888ff;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  margin-top: 150px;
}

.addIngresso button:hover{
  background-color:#7d9fd3;
}



/* Adicione esta classe para controlar o espaçamento entre as colunas */

.tabela-container{
  max-width: 1000px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 30px;
  
}
.th-tipo-ingresso {
  width: 450px; /* Altere o valor conforme necessário */
  display: flex;
  float: left;
}

.th-quantidade {
  width: 300px;
  
}

.th-selecionar {
  width: 150px;
}
th, td {
  padding: 10px; /* Adicione um preenchimento para melhorar a aparência */
}

button {
  width: 100%; /* O botão ocupará 100% da largura da célula */
}

.th-buttton{
  background-image: url('../../User/Pictures/trash2-fill.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-left: 60px;
  cursor: pointer;
  border: none;
}
